h4 {
    font-size: 30px;
    font-weight: 700;
    top: 40%;
    left: 30%;
}
.shadowRight{
    position: absolute;
    right: 0;
}
.bullets{
    position: absolute;
    left: 0;
    // bottom: 10%;
    z-index: -444;
}