<nav class="navbar navbar-expand-lg my-5 rounded-4 container">
    <div class="container d-flex justify-content-between">
        <a class="navbar-brand text-white fw-bold d-flex justify-content-center align-items-center gap-2" href="#">
            <div class="bgImg">
                <img src="../../../assets/Images/b2edc168bd2fd8ef0e2a7039fa12f31b.png" class="w-100" alt="">
            </div>
            <h4> Hassan Abu Ali</h4>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <svg class="" width="36" height="4" viewBox="0 0 36 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 2H34" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M2.16431 2H18.9998" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
            </svg>

        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link text-white activeNav">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white ">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white ">Portofolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white ">Blog</a>
                </li>
            </ul>
            <div class="btn">
                <button class="btn p-0 m-0">Contact Me</button>
            </div>
        </div>

    </div>
</nav>
<svg class="navside" width="280" height="301" viewBox="0 0 280 301" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g filter="url(#filter0_f_16_166)">
        <path
            d="M231 147.511C231 191.454 173.19 241 129.391 241C85.5927 241 60 164.371 60 120.428C60 76.4854 105.419 58 149.217 58C193.016 58 231 103.568 231 147.511Z"
            fill="url(#paint0_linear_16_166)" fill-opacity="0.12" />
    </g>
    <defs>
        <filter id="filter0_f_16_166" x="0" y="-2" width="291" height="303" filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
            <feGaussianBlur stdDeviation="30" result="effect1_foregroundBlur_16_166" />
        </filter>
        <linearGradient id="paint0_linear_16_166" x1="60" y1="149.5" x2="231" y2="149.5" gradientUnits="userSpaceOnUse">
            <stop stop-color="#B224EF" />
            <stop offset="1" stop-color="#7579FF" />
        </linearGradient>
    </defs>
</svg>
<svg class="bulltes" width="130" height="137" viewBox="0 0 130 137" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="17.5" cy="17.5" r="17.5" fill="#EDEEFF" />
    <circle cx="78.5" cy="17.5" r="17.5" fill="#EDEEFF" />
    <circle cx="138.5" cy="17.5" r="17.5" fill="#EDEEFF" />
    <circle cx="17.5" cy="68.5" r="17.5" fill="#EDEEFF" />
    <circle cx="78.5" cy="68.5" r="17.5" fill="#EDEEFF" />
    <circle cx="138.5" cy="68.5" r="17.5" fill="#EDEEFF" />
    <circle cx="17.5" cy="119.5" r="17.5" fill="#EDEEFF" />
    <circle cx="78.5" cy="119.5" r="17.5" fill="#EDEEFF" />
    <circle cx="138.5" cy="119.5" r="17.5" fill="#EDEEFF" />
</svg>