.bullets{
    position: absolute;
    left: 0;
    // bottom: 10%;
    z-index: -444;
}
section{

    h2{
        color: #B224EF;
        font-weight: 700;
        font-size: 50px;
    }
    .skills{
        position: absolute;
        left: 30px;
        top: -59px;
    }
    .shadowRight{
        position: absolute;
        right: 0;
    }
   
}